.subscribe-area {
  width: 90%;
  border-bottom: 1px solid black;
}
.subscribe-input {
  background-color: rgb(102, 151, 162);
  border: none;
  padding: 2px 5px;
  width: 75%;
  margin-right: 6px;
}
.mail {
  cursor: pointer;
}
.icon {
  font-size: 30px;
}
.footer {
  background-color: rgb(102, 151, 162);
}
